body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
    position: relative;
    background: linear-gradient(to bottom, #333, #555);
}

.encabezado > a {
    color: white;

    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

.encabezado > a:hover {
    transform: scale(1.1);
}

  
.menu-desplegable {
    display: flex;
    flex-direction: row;
    top: 0;
    right: 0;
    background-color: #444;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
  .menu-desplegable li {
    padding: 12px;
    border-bottom: 1px solid #555;
  }
  
  .menu-desplegable li:hover {
    background-color: #7e2828;
  }
  
